body {
  font-family: 'Raleway', sans-serif;
}
h3 {
    text-align: left;
}
.main-container {
  padding: 3rem 1.5rem;
  text-align: center;
}
.psth-preset {
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor: pointer;
}

.inst-toggle {
	background-color: white;
	color: black;
	border-color: #bbb;
}
.inst-toggle:hover {
	background-color: #eee;
}

.inst-toggle.active {
	/*background: #bbb;*/
	background: #3762a8;
	color: white;
}

#notes {
	border-color: white;
}

input[type=range] {
	width: 100%;
	/*margin-left: 20px;*/
}

.btn-metagroup {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    /*background-color: #edf4fc;*/
}

.btn-group {
    margin-right: 1em;
    margin-bottom: 1em;
}

.btn-slider {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8em;
    line-height: 1.5;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    /*font-weight: 400;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /*background-color: #edf4fc;*/
    /*color: white;*/
}
.btn-preset {
    font-size: 0.8em;
    border: black;
    border-style: dotted;
    border-width: thin;
}

.slider-container {
    width: 8em;
}
